.h-cards__elems {
  margin: -10px;
  overflow: hidden;
}

.h-cards__elem {
  width: 25%;
  padding: 10px;
}

.h-cards__box {
  position: relative;
  overflow: hidden;
  padding-bottom: find-the-proportion(160, 200);
  height: 1px;
}

.h-cards__box:hover .h-cards__hover {
  opacity: 1;
}

.h-cards__img-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #292f36;
}

.h-cards__hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100% + 1px);
  text-align: center;
  opacity: 0;
}

.h-cards__hover_with-footer .h-cards__content-control {
  bottom: 20%;
}

.h-cards__hover_with-header .h-cards__content-control {
  top: 20%;
}

.h-cards__header {
  height: 20%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  background-color: #292f36;
  z-index: 2;
}

.h-cards__header-inner {
  display: table;
  height: 100%;
  width: 100%;
}

.h-cards__header-align {
  display: table-cell;
  vertical-align: middle;
}

.h-cards__content {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.h-cards__content-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.h-cards__content-inner {
  display: table;
  height: 100%;
  width: 100%;
}

.h-cards__content-align {
  display: table-cell;
  vertical-align: middle;
}

.h-cards__content-text {
  font-size: 24px;
}

.h-cards__content:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #292f36;
  opacity: 0.5;
}

.h-cards__footer {
  height: 20%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #292f36;
  z-index: 1;
}

.h-cards__footer-inner {
  display: table;
  height: 100%;
  width: 100%;
}

.h-cards__footer-align {
  display: table-cell;
  vertical-align: middle;
}
