$darken-color: #1d2126;
$dark-color: #3a454d;
$accent-color: #23b7a4;
$inactive-link-color: #a4aead;
$discreet-paragraph-color: #ccd0d7;


$header-main-bg-color: #E3E2E2 !default;
$main-nav-width: initial !default;
$main-nav-overlay-color: $header-main-bg-color !default;
$main-nav-overlay-opacity: 0.92 !default;

$features-with-counter__counter-bg-color: #23b7a4;
$features-with-counter__counter-font-size: 20px;

@font-face {
	font-family:"Socialico";
	src:local("Socialico"),
		url("../fonts/Socialico.eot?") format("eot"),
		url("../fonts/Socialico.woff") format("woff"),
		url("../fonts/Socialico.ttf") format("truetype"),
		url("../fonts/Socialico.svg#Socialico") format("svg");
	font-weight:normal;
	font-style:normal;
}

.float-right {
	float: right;
}
.float-left {
	float: left;
}

// styles

// header

.header-main {
	@extend %clearfix;
	position: relative;
	background-color: $header-main-bg-color;
}

.main-logo {
	float: left;
}

.main-logo__img-holder {
	width: 99px;
	height: 19px;
	margin: 31px 0;
}

#main-nav-button-checkbox {
	display: none;
	&:checked ~ .main-nav {
		transform: translateX(0);
		opacity: 1;
	}
	&:checked ~ .main-nav-button {
	  color: $accent-color;
		font-weight: 700;
	}
}

.main-nav-button {
	color: $inactive-link-color;
    display: none;
	float: right;
	padding: 27px;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 300;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	&:focus {
		outline: none;
	}
}

.main-nav {
	padding: 28px 0 21px;
 	float: right;

	@extend %simple-anim;
	will-change: opacity, transform;
	&__elems-holder {
		@extend %no-text-list-styles;
	}
	&__elem {
		margin: 0 7px;
		color: $inactive-link-color;
		display: inline-block;
		&_active {
			color: $accent-color;
			.main-nav__link {
				border-color: $accent-color;
			}
			&:hover {
			color: $accent-color;
				.main-nav__link {
					border-color: $accent-color;
				}
			}
		}
		&:first-child {
		    margin-left: 0;
		}
		&:last-child {
		    margin-right: 0;
		}
	}
	&__link {
		border: 2px solid transparent;
		border-radius: 4px;
		font-size: 14px;
		font-weight: 600;
		color: inherit;
		text-transform: uppercase;
		padding: 4px 10px;
		&:hover {
			color: inherit;
			border-color: inherit;
		}
	}
}	

// slider

.swiper-wrapper {
	box-sizing: border-box;
}

.main-slider {

}

.slider-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.slider-item {	
	&__wrap {
		// width: 57%;
		// min-width: 300px;
	}
	&__title {
		margin-top: 1em;
		margin-bottom: 27px;
	}
	&__description {
		color: $discreet-paragraph-color;
	}
}


.main-swiper-pagination {
	position: relative;
    bottom: 25px;
    text-align: right;
    margin: 0 -4px;
    z-index: 1;	
    .swiper-pagination-bullet {
    	width: 13px;
		height: 13px;
		margin: 0 4px;
		border: 2px solid white;
		background-color: transparent;
		opacity: 1;
    	&-active {
			background-color: #fff;
    	}
    }
}

// hmmm

.features-with-counter {
	@extend %no-text-list-styles;
	counter-reset: features-counter;
	&__elem {
		position: relative;
		padding-left: 67px;
		&:before {
			content: "0" counter(features-counter);
			counter-increment: features-counter;
			display: block;
			width: 50px;
			height: 50px;
			position: absolute;
			left: 0;
			background-color: $features-with-counter__counter-bg-color;
			text-align: center;
			line-height: 50px;
			overflow: hidden;
			-webkit-user-select: none;
			color: white;
			font-family: 'Quattrocento Sans', Arial, sans-serif;
			font-size: $features-with-counter__counter-font-size;
			text-transform: uppercase;
		}
		&:last-child .features-with-counter__description{
			margin-bottom: 0;
		}
	}
		&__title {
			@include indent-reset(all);
			position: relative;
    		bottom: 5px;
    		font-size: 18px;
			text-transform: uppercase;
		}
		&__description {
			margin-bottom: 34px;
		}
}

.social-tiles {
	@extend %no-text-list-styles;
	margin-top: 50 / 1170 * 100%;
	&__elem {
		display: inline-block;
		margin-right: 1px;
		color: white;
		&:last-child {
			margin-right: 0;
		}
	}
		&__link {
			display: block;
			width: 60px;
			height: 60px;
			text-align: center;
			line-height: 60px;
			font-family: 'Socialico';
			font-size: 36px;
			font-weight: 400;
			color: white;
			background-color: #c8cdd0;
			&:hover {
				color: inherit;
				background-color: #d0d5d9;
			}
		}
}

// cards...

.h-cards-people {
	@include h-cards-settings($orig-width: 262,
							  $orig-height: 374,
							  $margin: 1.282%,
							  $text-align: center,
							  $overlay-color: white,
							  $overlay-font-size: 28px,
							  $overlay-opacity: 0.4,
							  $header-height: 0,
							  $header-bg-color: #292f36,
							  $header-content-align: middle,
							  $header-start-opacity: 0,
							  $header-hover-opacity:1,
							  $header-text-align: center,
							  $content-start-opacity: 0,
							  $content-hover-opacity:1,
							  $content-text-align: center,
							  $footer-start-opacity: 1,
							  $footer-height: 74px,
							  $footer-bg-color: #e1e6ea,
							  $footer-content-align: middle,
							  $footer-hover-opacity:1,
							  $footer-text-align: left,
							  $animation: true
							  );
}

.h-cards-things {
	@include h-cards-settings($orig-width: 360,
							  $orig-height: 265,
							  $margin: 1.282%,
							  $text-align: center,
							  $overlay-color: #292f36,
							  $overlay-font-size: 32px,
							  $overlay-opacity: 0.5,
							  $header-height: 0,
							  $header-bg-color: #292f36,
							  $header-content-align: middle,
							  $header-start-opacity: 0,
							  $content-start-opacity: 0,
							  $footer-start-opacity: 0,
							  $footer-height: 22.64%,
							  $footer-bg-color: #292f36,
							  $footer-content-align: middle,
							  $header-hover-opacity:1,
							  $content-hover-opacity:1,
							  $footer-hover-opacity:1,
							  $header-text-align: center,
							  $content-text-align: center,
							  $footer-text-align: center,
							  $animation: true
							  );
}

// cards 1

.h-cards-people__socials {
	@extend %no-text-list-styles;

}

.h-cards-people__soc-elem {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 1px;
	background-color: #3a454d;
	color: white;
	&:hover {
		background-color: #4e5a62;
	}
	&:last-child {
		margin-right: 0;
	}
}

.h-cards-people__soc-link {
	color: inherit;
	font-family: 'Socialico';
	font-weight: 400;
	line-height: 50px;
	&:hover {
		color: inherit;
	}
}

.h-cards-people__name {
	margin: 15px 20px 5px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.h-cards-people__position {
	margin: 5px 20px 0;
	color: #8d8f92;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 400;
}

.h-cards-people__box:hover .h-cards-people__personal-data {
	background-color: #3a454d;
}
.h-cards-people__box:hover .h-cards-people__name,
.h-cards-people__box:hover .h-cards-people__position {
	color: white;
}

// cards 2

.h-cards__link_works {
	text-transform: uppercase;
}

.inline-holder_align-center {
	text-align: center;
}

.show-more-control {
	margin: 60px 0;
}

// companys-things

.companys-things {
	@extend %no-text-list-styles;
	margin-top: -(63 / 1170 * 100%);
	&__item {
		margin-top: 93 / 1170 * 100%;
		margin-bottom: 0;
		text-align: center;
	}
		&__img-holder {
			width: 48px;
			height: 48px;
			margin: 0 auto;
		}
		&__title {
			margin-top: 32 / 1170 * 400%;
			text-transform: uppercase;
		}
		&__desc {
			margin-bottom: 0;
		}
}

.main-features {
	@extend %no-text-list-styles;
	margin-bottom: -(63 / 1170 * 100%);
	&__item {
		margin-bottom: 63 / 1170 * 100%;
	} 
			&__img {
				width: 100%;
			}
		&__title {
			margin-top: 51px;
			margin-left: 0;
			font-size: 18px;
			text-transform: uppercase;
		} 
		&__desc {
			margin-top: 25px;
			margin-bottom: 0;
			color: #dcdfe1;
		} 
} 

.map {
	background-image: url(../images/content/map.jpg);
	background-size: cover;
	background-position: 50% 50%;
	height: 346px;
}

.contact-title {
	margin-left: 10px;
	margin-top: 60 / 1170 * 200%;
	font-size: 20px;
	text-transform: uppercase;
}

.contact-decs {
	margin-top: 16 / 1170 * 200%;
}

.contact-form {
	margin-top: -129px;
	background-color: white;
	padding: 30 / 1170 * 200%;
}

.contact-form {
	&__label {
		text-transform: uppercase;
	}
	&__textarea {
		height: 159px;
	}
}

.form-group {
	width: 100%;
}


// footer

.main-footer {
	@extend %clearfix;
	&__copyright {
		float: left;
		margin: 40px 0 36px;
		font-size: 14px;
	}
}

.main-footer-social {
	@extend %no-text-list-styles;
	float: right;
	padding: 29px 0;
	&__item {
		display: inline-block;
	}
		&__link {
			display: block;
			font-family:"Socialico";
			font-size: 21px;
			padding: 9px;
			&:hover {
				color: $accent-color;
			}
		}
}
























// media

@media screen and (max-width: 980px) {
	.contact-form {
		margin-top: 0;
	}
}

@media screen and (max-width: 768px) {
	.main-nav-button {
		display: block;	
	}
	.main-nav {
		position: absolute;
 		top: 100%;
 		right: -($container-padding-x);
 		z-index: 2;
 		padding: 12px 0;
 		float: none;
		width: $main-nav-width;
		transform: translateX(150%);
		opacity: 0;
		&:after {
			background-color: $darken-color;
			opacity: $main-nav-overlay-opacity;
		}
		&__elem {
			display: block;
			margin: 0;
			padding: 12px 40px;
			&:hover {
				background-color: rgba(0, 0, 0, 0.32);
				.main-nav__link {
					border-color: transparent;
					border-left-color: $inactive-link-color;
				}
			}
			&:first-child {
			    margin-top: 0;
			}
			&:last-child {
			    margin-bottom: 0;
			}
			&_active {
				.main-nav__link {
					border-color: transparent;
					border-left-color: $accent-color;
				}
				&:hover {
					.main-nav__link {
						border-color: transparent;
						border-left-color: $accent-color;
					}
				}
			}
		}
		&__link {
			&:hover {
				border-color: transparent;
			}
		}
	}
	.main-footer {
		text-align: center;
		&__copyright {
			float: none;
			margin: 16px 0 14px;
		}
	}
	.main-footer-social {
		float: none;
		padding: 8px 0;
			&__link {
				font-size: 21px;
				padding: 5px 16px;
			}
	}
}
@media screen and (max-width: 480px) {
	.social-tiles {
		&__link {
			width: 50px;
			height: 50px;
			line-height: 50px;
		}
	}
}




























// media

@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 980px) {

}

@media screen and (min-width: 768px) {
	
}

@media screen and (min-width: 480px) {
	
}

@media screen and (min-width: 320px) {
	
}